.form {
  text-align: right;
}

.form__group {
  position: relative;
  margin-bottom: 30px;
  text-align: left;

  &--last {
    margin-bottom: 10px;
  }

  .form__input {
    width: 100%;
    height: 51px;
    min-height: 51px;
    border-width: 0 0 1px 0;
    border-color: $text-color;
    background: transparent;
    color: $text-color;
    transition: border-color 200ms ease-in-out;

    &:focus,
    &:active {
      outline: 0;
      border-color: $primary;
    }
    &:invalid {
      outline: 0;
    }
  }

  &--touched {
    input,
    textarea {
      &:invalid {
        border-color: $red;
      }
    }
  }

  textarea {
    padding-top: 1em;
    overflow: auto;
    min-width: 100%;
    max-width: 100%;
  }

  label {
    display: block;
    position: absolute;
    cursor: pointer;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding-top: 6px;
    font-weight: 500;
    background-color: $bg-color;
    transition: all 250ms $ease-in-out;
  }
  &--active label,
  &--filled label {
    font-size: 0.8rem;
    transform: translateY(-1rem);
  }
}

.form__checkbox {
  // margin-right: 1rem;
  input[type='checkbox'] {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked ~ label::after {
      transform: scale(1);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23ffce40' d='M504.502 75.496c-9.997-9.998-26.205-9.998-36.204 0L161.594 382.203 43.702 264.311c-9.997-9.998-26.205-9.997-36.204 0-9.998 9.997-9.998 26.205 0 36.203l135.994 135.992c9.994 9.997 26.214 9.99 36.204 0L504.502 111.7c9.998-9.997 9.997-26.206 0-36.204z'/%3E%3C/svg%3E");
    }
  }
  label {
    display: block;
    position: relative;
    min-width: 34px;
    min-height: 34px;
    padding-left: calc(34px + 1rem);

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 34px;
      height: 34px;
    }

    &::before {
      background: $dark;
      border-radius: 50%;
      pointer-events: none;
    }

    &::after {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
      transform: scale(0) rotate(45deg);
      transition: transform 200ms $ease-in-out;
    }
  }
}

.form__hint {
  font-size: 0.625rem;
}

.form__gdpr {
  display: flex;
  flex: nowrap;
  align-items: center;
  text-align: left;
  margin-bottom: 25px;
  margin-top: 60px;
}

.form__message {
  margin-top: 30px;
  font-weight: 600;
  font-size: 1.3em;
}
.form__btn {
  margin-top: 30px;
}

.microinfo__title {
  font-size: 0.5625rem;
  text-transform: uppercase;
  color: $white;
  margin-bottom: 1rem;
}

.microinfo__content {
  font-size: 0.625rem;
  color: $light;
}

.form--footer {
  label {
    background-color: $primary;
  }
  .form__input {
    border-color: $white;
    color: $white;
    &:focus,
    &:active {
      border-color: $light;
    }
  }
}
