.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: transform 500ms $ease-in-out;
}

.site-header--hide {
  transform: translateY(-100%);
  transition: transform 300ms ease;

  .dropdown.dropdown--language .dropdown__list {
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    box-shadow: 0 0;
  }
}

.site-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 1rem 1rem;

  @include media-up(lg) {
    align-items: flex-start;
    padding: 3.25rem 1rem 1rem;
  }
}

.site-branding {
  .custom-logo-link {
    display: block;
  }
  .custom-logo {
    display: block;
    width: auto;
    max-width: 168px;
  }
}

.burger {
  margin-left: auto;
  padding: 0.5rem;
  border: 0;
  background: transparent;
  z-index: 1001;

  &:focus {
    outline: 0;
    box-shadow: 0 0;
  }

  @include media-up(lg) {
    display: none;
  }

  .burger__wrapper {
    display: block;
    overflow: visible;
    position: relative;
    width: 42px;
    height: 18px;

    &:hover,
    &:focus {
      outline: 0;
    }

    .burger__line {
      position: absolute;
      top: 0;
      display: inline-block;
      height: 20px;
      width: 2px;
      background-color: $white;
      transform-origin: center;
      transform: rotate(20deg);

      &:nth-child(1) {
        left: 10px;
        transition: transform 0.2s 0s ease-in-out, left 0.2s 0s ease-in-out,
          background-color 0.35s ease-in-out;
      }

      &:nth-child(2) {
        left: 20px;
        opacity: 1;
        transition: opacity 0.2s 0.1s ease-in-out,
          background-color 0.35s ease-in-out;
      }

      &:nth-child(3) {
        left: 30px;
        transition: left 0.2s 0s ease-in-out, transform 0.2s 0s ease-in-out,
          background-color 0.35s ease-in-out;
      }
    }
  }

  &[aria-expanded='true'] {
    .burger__wrapper {
      .burger__line {
        background-color: $white;
        &:nth-child(1) {
          left: 20px;
          transform: rotate(-45deg);
          transition: transform 0.2s 0s ease-in-out, left 0.2s 0s ease-in-out,
            background-color 0.05s ease-in-out;
        }

        &:nth-child(2) {
          opacity: 0;
          transition: opacity 0.2s 0s ease-in-out,
            background-color 0.05s ease-in-out;
        }

        &:nth-child(3) {
          left: 20px;
          transform: rotate(45deg);
          transition: left 0.2s 0s ease-in-out,
            background-color 0.05s ease-in-out;
        }
      }
    }
  }
}

.main-navigation {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 280px;
  max-width: 100%;
  height: 100vh;
  background: $primary;
  padding: 4rem 2rem 1.2rem 1.2rem;
  transform: translateX(101%);
  box-shadow: 1px 0px 4px rgba($black, 0.3);
  transition: transform 400ms ease-in-out;

  .menu {
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu-item {
    position: relative;
    font-size: 1.2rem;
    font-weight: 400;

    a {
      color: $white;
      font-size: 0.875rem;
      font-weight: 500;
      display: block;
      padding: 0.4em 0.4em;
      &:hover {
        color: $light;
      }
    }
  }

  @include media-up(lg) {
    position: relative;
    display: flex;
    justify-content: space-between;
    transform: translateX(0);
    transition: none;
    width: auto;
    height: auto;
    background: transparent;
    top: 0 !important;
    padding: 0;
    box-shadow: 0 0;

    .menu {
      display: flex;
      flex-direction: row;
      padding: 0;
    }

    .menu-item {
      margin: 0 2.5625rem;
      flex-shrink: 0;

      &:last-child {
        a {
          margin-left: 5vw;

          &:before {
            content: "";
            vertical-align: middle;
            margin-right: 6px;
            display: inline-block;
            border-radius: 50%;
            width: 4px;
            height: 4px;
            background: $primary;
          }
        }
      }
      a {
        padding: 20px 0 0.5em;
        color: $light;

        &::after {
          content: '';
          display: block;
          margin-top: 36px;
          height: 4px;
          width: 100%;
          background-color: $primary;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 200ms $ease-in-out;
        }

        &:hover,
        &[aria-current='page'] {
          &::after {
            transform: scaleX(1);
          }
        }
      }
    }
  }

  &.open {
    transform: translateX(0);
  }
}
