.section {
  background: $bg-color;
  padding-top: 168px;
  padding-bottom: 168px;

  .section__title {
    text-transform: uppercase;
    font-size: 0.6875rem;
    line-height: 1.45;
    letter-spacing: 0.066em;
    margin-bottom: 60px;
  }
}

.section--intro {
  background-color: $primary;
  color: $light;

  .section__title,
  .section__heading {
    color: $white;
  }

  .section__content {
    margin-bottom: 30px;
  }
  .section__heading {
    font-size: 2.375rem;
    line-height: 1.45;
    margin-bottom: 30px;
  }

  img {
    @include media-up(lg) {
      margin-top: 60px;
    }
  }
}

.section--carousel {
  min-height: 100vh;

  .section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 60px;

    @include media-up(md) {
      flex-wrap: nowrap;
    }
  }
  .section__heading {
    display: inline-block;
    flex-grow: 0;
    font-size: 2.375rem;
    line-height: 1.45;
    margin: 15px 15px 15px 0;
  }
}

.section--details {
  padding-top: 0;
  .section__title,
  .section__heading {
    color: $white;
  }

  .section__heading {
    font-size: 3rem;
    line-height: 1.16;
    margin-top: 0;
  }

  .section__background-image {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: $dark;

    @include media-up(xl) {
      background-attachment: fixed;
    }
  }
  .section__content {
    position: relative;
    padding-top: 168px;
  }
  .section__footer {
    margin-top: 80px;
    text-align: center;
  }
}
